# Backend Settings
SECRET_KEY=cropguard_ai_hackathon_super_secret_key_2026
DATABASE_URL=sqlite:///./cropguard.db
# For PostgreSQL: postgresql://cropguard:cropguard_password@localhost:5432/cropguard_db

# ML Settings
MODEL_VERSION=v1.0.0-MobileNetV3
DEVICE=cpu

# Frontend Settings
VITE_API_URL=http://localhost:8000
